<style>
  .navbar-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
</style>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <% categories.forEach(category => { %>
  <li>
    <a href="/Categoria/<%= category.id_category%>"
      ><%= category.name_category %></a
    >
  </li>
  <% }); %>
</ul>
<nav class="navbar-fixed">
  <div class="nav-wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Productos/Page/1">Productos</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"
          >Categorías<i class="material-icons right">arrow_drop_down</i></a
        >
      </li>
      <li>
        <% if (username != null) { %>
        <a href="#">Hola, <%= username %>!</a>
        <% } else { %>
        <a href="/User/Login">Iniciar Sesión</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
