<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>Your Cart</h1>
    <ul>
      <% products.forEach(cartItem => { %>
      <li>
        <%= cartItem.name %> - $<%= cartItem.price %> x <%=
        cartItem.quantity %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
